body, html {
  height: 100%;
  font-size: 25px;
  background-color: #000000;
  color: #c181eb;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

[class^="s"] {
  text-align: center;
  padding: 0px;
  width: 50px;
  height: 150px;
  line-height: 150px;
  font-size: 150px;
}

.winner, .settings, .board {
  -webkit-filter: drop-shadow(0 0 10px #c181eb);
          filter: drop-shadow(0 0 10px #c181eb);
}

.rt {
  border-right: 6px solid #c181eb;
}

.btm {
  border-bottom: 6px solid #c181eb;
}

.X, .O {
  font-size: 250px;
  cursor: pointer;
}

.winner-msg {
  font-size: 50px;
}

.emoji {
  font-size: 125px;
}

.win-style {
  background-color: rgba(193,129,235,0.2);
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px){
  body, html {
    font-size: 16px;
  }

  [class^="s"] {
    font-size: 100px;
    width: 33px;
    height: 100px;
    line-height: 100px;
  }

  .X, .O {
    font-size: 165px;
  }

  .winner-msg {
    font-size: 33px;
  }

  .emoji {
    font-size: 83px;
  }
}
